
.detail-5-day-sidebar {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 73.4px 82.06px 104px;
  column-gap: 10px;
}

.detail-5-day-content {
  height: 245px;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.detail-5-day-sidebar button {
  background-color: white;
  border: none;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.detail-5-day-sidebar button:hover,
.detail-5-day-sidebar button.active {
  font-weight: 600;
  border-bottom: 2px solid black;
}

.summary-display,
.every-hour-display,
.more-detail-display {
  display: none;
}

.summary-display.active,
.more-detail-display.active,
.every-hour-display.active {
  display: block;
}

.every-hour-display.active {
  position: relative;
  overflow: hidden;
}

.every-hour-display-container {
  display: block;
  transition: transform 0.5s ease;
}

.column-hour {
  height: 238px;
  display: inline-block;
}

.weather {
  height: 209px;
  padding-left: calc(20 / 114 * 100%);
  background: #f7f7f7;
  display: flex; 
  flex-direction: column;
  cursor: pointer;
  border-bottom: 2px solid #ebebeb;
}

.weather:hover {
  border-bottom: 2px solid #868686;
}

.day {
  height: 16px;
  padding-top: 3px;
  font-size: 12px;
  opacity: 0.8;
  line-height: 16px;
}

.weather-icon {
  width: 28px;
  margin-top: 13px;
}

.temperature {
  margin-top: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.weather-status {
  margin-top: 6px;
  line-height: 16px;
  font-size: 12px;
  opacity: 0.8;
  max-width: 48px;
  max-height: 48px;
}

.bottom-card {
  margin-top: auto;
  padding-bottom: 16px;
}

.humidity-percent {
  font-size: 12px;
  line-height: 16px;
}

.speed-wind {
  font-size: 12px;
  margin-right: 4px;
  margin-top: 6px;
  line-height: 16px;
}

.hour {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.every-hour-display-button-left, .every-hour-display-button-right {
  width: 16px;
  height: 32px;
  background: white;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 88.5px;
}

.every-hour-display-button-left {
  left: 0;
}

.every-hour-display-button-right {
  right: 0;
}