.detail-5-day-sidebar {
  display: grid;
  grid-template-columns: 143.45px 124.2px 100px;
  column-gap: 10px;
  padding-left: 10px;
  height: 40px;
}

.detail-5-day-sidebar button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

.detail-5-day-sidebar span {
  display: flex;
  align-items: center;
  height: 100%;
}

.detail-5-day-sidebar span:hover,
.detail-5-day-sidebar span.active {
  font-weight: 600;
  border-bottom: 2px solid black;
}

.detail-5-day-content {
  /* height: 245px; */
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}