.detail-5-day-sidebar {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 73.4px 82.06px 104px;
  column-gap: 10px;
}

.detail-5-day-content {
  height: 245px;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.detail-5-day-sidebar button {
  background-color: white;
  border: none;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.detail-5-day-sidebar button:hover,
.detail-5-day-sidebar button.active {
  font-weight: 600;
  border-bottom: 2px solid black;
}


