// Mục này sử dụng để định nghĩa style css cho components
.input-city {
  background-color: white;
  border: none;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
}

.detail-5-day {
  width: 83.78%;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px;
  font-family: 'Arial', 'Calibri', sans-serif;
}

.fiveday {
  width: 80%;
  margin: 0 10%;
  display: flex;

  position: relative;
 
  flex-direction: column;
}

.five-container {
  position: relative;
  overflow: hidden;
}

.five {
  padding-inline-start: 0;
  transition: transform 0.5s ease;
}

.five-day-button-left, .five-day-button-right {
  width: 16px;
  height: 32px;
  background: white;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 70.585px;
}

.five-day-button-left {
  left: 0;
}

.five-day-button-right {
  right: 0;
}

.five li {
  background-color: #fff;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-areas:
      "time temp_max description"
      "img temp_min humidity";
  grid-template-columns: auto auto auto;
  gap: 0px;
  margin: 3px;
  flex: 0 0 auto;
}

.five li p:nth-child(1) {
  grid-area: time;
  position: absolute;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 auto;
}

.five li p:nth-child(2) {
  grid-area: temp_max;
  position: relative;
  margin-top: 40px;
  font-size: 0.9em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  left: 10px;
  flex: 0 0 auto;
}

.five li p:nth-child(3) {
  grid-area: description;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  font-size: 0.8em;
  font-weight: 0;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 auto;
}

.five li img {
  grid-area: img;
  width: 40px;
  height: auto;
  position: relative;
  bottom: 25px;
  left: 20px;
  flex: 0 0 auto;
}

.five li p:nth-child(5) {
  grid-area: temp_min;
  position: relative;
  bottom: 10px;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  left: 10px;
  flex: 0 0 auto;
}

.five li p:nth-child(6) {
  grid-area: humidity;
  position: relative;
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  font-size: 0.8em;
  font-weight: 0;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 auto;
}

.five li.compact p:nth-child(3),
.five li.compact p:nth-child(6) {
  display: none;
}

.weather-image {
  width: 60px;
  height: 50px;
}

.scroll-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.scroll-button:hover {
  background-color: #0056b3;
}

.five li {
  cursor: pointer; 
}

.five li.compact {
  width: 200px;
}
.fivetitle{
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 30px;
  top: 20px;
}
.fivetitle button{
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
h4 {
  position: relative;

  flex: 0 0 auto;
}



