* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
/* Văn bản chung cho responsive */
.responsive-text {
  font-size: 1em;
}
.main-content {
  padding-top: 100px; // Thêm khoảng cách tương ứng với chiều cao của header
}
/* Header */
.App-header {
  background-image: url('../../assets/images/—Pngtree—cumulonimbus\ capillatus\ incus\ in\ the_15539280.png'); // Thay đổi đường dẫn đến bức ảnh của bạn
  background-size: cover; // Đảm bảo bức ảnh phủ kín toàn bộ header
  background-position: bottom; // Căn giữa bức ảnh
  padding: 20px 50px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  font-family: 'Arial', 'Calibri', sans-serif;
  justify-content: center;
  position: sticky; // Đặt header cố định
  top: 0; // Đảm bảo header nằm ở trên cùng
  left: 0; // Đảm bảo header nằm ở bên trái
  right: 0; // Đảm bảo header mở rộng hết chiều ngang
  z-index: 99;

  &-body {
    width: 100%;
  }

  img {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 20px;
    margin-left: -10px;
  }

  h1 {
    font-size: 2.6em;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 350px;
    color: #ffffff;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .header-logo {
      display: flex;
    }
  }
}
/* Search Container in Header */
.search-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-left: 0px;
}

.input-wrapper {
  position: relative;
  display: flex; // Sử dụng flex để căn chỉnh các phần tử

  input {
    padding: 8px 10px; // Giảm padding bên phải để có chỗ cho nút
    width: 400px;
    border-radius: 20px;
    border: 1px solid #ccc; // Thêm border cho input

    &:focus + .search-icon {
      display: none;
    }

    &:focus + .search-icon + .close-icon {
      display: block;
    }
  }

  button {
    padding: 9px 12px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 20px;
    margin-left: -69px; // Điều chỉnh vị trí của nút
    z-index: 1; // Đảm bảo nút nằm trên input

    &:hover {
      background-color: #70b4f9;
      color: rgb(255, 255, 255);
      border-color: #5eaeff;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
    }
  }

  .search-icon {
    position: absolute;
    right: 78px; // Điều chỉnh vị trí của biểu tượng tìm kiếm
    top: 10px;
    color: #000000;
  }
}

.App-header .city-suggestions {
  list-style-type: none; /* Loại bỏ dấu đầu dòng */
  padding: 0; /* Loại bỏ padding mặc định */
  margin: 5px 0 0 0; /* Loại bỏ margin mặc định */
  border: 1px solid #ccc; /* Đường viền cho danh sách */
  border-radius: 20px; /* Bo góc cho danh sách */
  background-color: white; /* Màu nền trắng */
  position: absolute; /* Đảm bảo danh sách gợi ý hiển thị dưới ô tìm kiếm */
  width: 98%; /* Đảm bảo danh sách rộng bằng với ô input */
  display: block;
  height: min-content;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 34px;
  z-index: 2;

  div {
    margin-left: 35px;
    max-width: none;
    width: 100%;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer; /* Con trỏ chuột thay đổi khi hover */

    &:hover {
      background-color: #dadada; /* Đổi màu nền khi hover */
    }
  }
}

/* Media Queries */
@media (max-width: 1098px) {
  .App-header {
    flex-direction: column; /* Chuyển hướng thành cột trên màn hình nhỏ */
    padding: 10px 20px; /* Giảm padding */
  }

  .header-content {
    flex-direction: column; /* Đặt các phần tử trong header-content theo chiều dọc */
    align-items: flex-start; /* Căn chỉnh các phần tử bên trái */
    width: 62%;
    margin-right: 1px;

    img {
      justify-self: center;
      max-width: 200px;
      max-height: 200px;
    }

    h1 {
      justify-content: center;
    }
  }

  .search-container {
    align-items: center;
    justify-content: center;
  }
  .notification-icon {
    display: none;
  }
}

@media (max-width: 1098px) {
  .App-header {
    .header-content {
      h1 {
        display: none;
      }
    }
  }
}
